:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --blue: #2196f3; 
    --original-black: #000;
    --lighter-black: #212121;
    --grey: #757575;
    --dark-grey: #2f303a;
    --original-white: #fff;
    --white: #f5f4fa;
    --rgba-mix: rgba(255, 255, 255, 0.6);
    --darker-white: #E5E5E5;
}

* {
    margin:0;
    padding:0; 
}

.body {
    font-family: var(--font-family);
    background-color: var(--original-white)
    width: 1200px;
    height: 1879px;
}

/* Header styling */

.header {
    
    
}

.header .container {
    display:flex;
    justify-content:space-between;
    height: 80px;
    align-items: center;
    
}

.header__navigation ul {
    display:flex;
    gap: 50px;
    align-items: center;
}
.header__logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    color: var(--original-black);
    text-decoration-line: none;
}


.header__logo span {
    color: var(--blue);
}

.header__navigation ul {
    list-style: none;
}

.header__navigation a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: var(--lighter-black);
}
.header__navigation a:hover {
    color: var(--blue);
}


.header__info a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: var(--grey);
}
.header__info a:hover {
    color: var(--blue);
}

/* Main styling */



.title-section {
    background-color: var(--dark-grey);
    padding-top: 200px;
    padding-bottom: 280px;
}

.title-section__text {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--original-white);
    display:flex;
    justify-content: center;
    
    
}

.title-section__button {
    background-color: var(--blue);
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    color: var(--original-white);
    cursor: pointer;
    margin-top: 30px;
    
}

.work-ethics {
    list-style: none;
    display:flex;
    margin-top: 94px;
    margin-bottom: 94px;
    justify-content:center;
    gap: 30px;
}

.work-ethics__title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--lighter-black);
    margin-bottom:10px;
}

.work-ethics__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: var(--grey);
    width: 270px;
    height: 75px;
    flex-wrap: wrap;
}

.activity__title {
    font-weight: 700;
    font-size: 36px;
    color: var(--lighter-black);
    margin-bottom: 50px;
    margin-left: 790px;
}

.activity__pictures {
    display:flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 94px;
}

.team {
    padding-top: 186px;
    padding-left: 215px;
    padding-right: 215px;
    padding-bottom: 94px;
    background-color: var(--white);
}

.team__title {
    font-weight: 700;
    font-size: 36px;
    color: var(--lighter-black);
    margin-bottom: 50px;
    margin-left: 618px;
}

.containers {
    display:flex;
    justify-content: center;
    margin-bottom: 94px;
    gap:30px;
    
}

.containers__name {
    font-weight: 500;
    font-size: 16px;
    color: var(--lighter-black);
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 63px;
    margin-right: 62px;
}

.containers__function {
    font-weight: 400;
    font-size: 16px;
    color: var(--grey);
    margin-left: 63px;
    margin-right: 62px;
    
}

/*Footer styling*/

.footer {
    background-color: var(--dark-grey);
    height: 251px;
}

.footer__logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    color: var(--original-white);
    text-decoration-line: none;
 }

.footer__logo span {
    color: var(--blue);
}

.contact span {
    font-weight: 400;
    font-size: 14px;
    color: var(--original-white);
    font-style: normal;
}

.contact a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: var(--rgba-mix);
    text-decoration-line: none;
}

.contact a:hover {
    color: var(--blue)
}



/* Portfolio page styling */


.categories__item {
    background-color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--lighter-black)
    cursor: pointer;
}

.categories__item:hover {
    background-color: var(--blue);
    color: var(--original-white);
}

.cards__names {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    color: var(--lighter-black);
}

.cards__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: var(--grey);
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}